.maps-background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0%;
	backdrop-filter: blur(8px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	color: black
}

.maps-container {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 10%;
	left: 19%;
	width: 1200px;
	height: 800px;
	border-radius: 12px;
	border: 1px solid black;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 25px;
	z-index: 2;
}

.flights-input {
	color: black;
	border: 1px solid black;

}

.top {
	display: flex;
	justify-content: space-evenly;
	width: 1200px;
	height: 26px;
	position: fixed;
	top: 12%;
}


.left {
	display: flex;
	position: fixed;
	top: 18%;
	left: 20%;
	width: 700px;
	height: 700px;
}

.right {
	display: flex;
	position: fixed;
	top: 18%;
	right: 20%;
	width: 400px;
	height: 700px;
}

.search-button {
	margin-left: 10px;
	width: 80px;
	height: 25px;
	background-color: lightblue;
}

.close-maps {
	display: block;
	position: absolute;
	top: 1%;
	right: 1%;
	color: black;
}

.close-maps button {
	background-color: transparent;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

.info-list {
	position: fixed;
	top: 27%;
	border-radius: 2%;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	background-color: lightblue;
	width: 400px;
}

.info-header {
	font-weight: bold;
	margin-bottom: 30px;
	padding-top: 10px;
	font-size: 32px;
}